.bg-pool-notification {
    background: white !important;
    color: black;
    border: 2px solid rgb(17 225 207) !important;
}

.unlock-text {
    font-size: 20px !important;
}

.pool-bg-color {
    background: #311B92 !important;
}

.smflex{
    display: flex;
}.token-bg{
    background-image: url("https://static.solanium.com/media/reign_of_terror_saletoken.png") !important; 
    border-radius: 50%;
}