.bg-price-box {
    background: #651FFF !important;
}

.bg-pool-notification {
    background: rgb(101, 31, 255) !important;
    color: white;
    border: 2px solid #ff9393 !important;
}

.unlock-text {
    font-size: 20px !important;
}

.project-bg-color {
    background: #311B92 !important;
}

.smflex{
    display: flex;
}.token-bg{
    background-image: url("https://static.solanium.com/media/reign_of_terror_saletoken.png") !important; 
    border-radius: 50%;
}