.btn-wallet {
    background: transparent !important;
    color: #651FFF !important;
    border: 2px solid #651FFF !important;
    border-radius: 5px;
    padding: 12.8px 32px !important;
}

.nav-link {
    font-size: 16px !important;
}

.btn-wallet:hover {
    opacity: 0.8;
}

.project-heading {
    margin-top: 35px;
}

@media (max-width:550px) {
    .noflx {
        flex-direction: column;
    }
}
